html {
    background-color: #1E0342;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    color: #9AC8CD;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* estilos de la barra de navegación*/
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
    color: white;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #0E46A3;
  }
  

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #0E46A3;
  color: white;
  display: none;
  margin: 0;
  }

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #9AC8CD;
}

.nav-links a:hover{
  color: white;
}
.nav-links a:focus {
  background-color: #0E46A3;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 500px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
    color: white;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }

}